# Ignore matugen outputs
home/dots/Kvantum/matugen/matugen.kvconfig
home/dots/kitty/themes/Matugen.conf
home/dots/kitty/current-theme.conf
home/dost/matugen/matugen/colors.json
home/wm/niri/niri/colors.kdl
home/dots/gtk-4.0/gtk-colors.css
assets/local/themes/adw-gtk3-dark/gtk-3.0/gtk-colors.css
assets/local/themes/adw-gtk3-dark/gtk-4.0/gtk-colors.css
home/dots/rofi/theme.rasi
home/dots/fastfetch/config.jsonc
home/dots/quickshell/Theme.qml
home/dots/quickshell/wallpaper.conf
home/dots/tmux/generated.conf
home/dots/wlogout/colors.css
home/dots/quickshell/qs/Theme.qml
home/dots/quickshell/qs/wallpaper.conf
home/dots/tmux/tmux-kun/generated.conf
home/dots/matugen/matugen/colors.json
home/dots/qt5ct/colors/matugen.conf
home/dots/qt5ct/qss/matugen-style.qss
home/dots/qt6ct/colors/matugen.conf
home/dots/qt6ct/qss/matugen-style.qss

home/configs/gtk-3.0/settings.ini
home/configs/gtk-4.0/settings.ini
home/dots/tmux/tmux-kun/.tmux/plugins/*
