include "configs/environment.kdl"
include "configs/exec.kdl"
include "configs/layout.kdl"
include "configs/settings.kdl"
include "configs/rules.kdl"
include "configs/animations.kdl"
include "configs/input.kdl"
include "configs/gestures.kdl"
include "configs/binds.kdl"
include "colors.kdl"
