// exec
spawn-at-startup "setWal"
spawn-at-startup "quickshell"
spawn-at-startup "wl-paste" "--watch" "cliphist" "store"

spawn-at-startup "gnome-keyring-daemon --start --components=secrets"
spawn-at-startup "nm-applet"
spawn-at-startup "swayidle"
spawn-at-startup "~/.config/niri/scripts/float-watch.py"
