binds {
    // APPLICATIONS

    Mod+T { spawn "kitty"; }
    Mod+N { spawn "floorp"; }
    Mod+B { spawn "thunar"; }
    Mod+CTRL+Grave { spawn "kitty" "-e" "htop"; }

    // shell
    Mod+R { spawn-sh "qs ipc call launcher toggle"; }
    Mod+Y { spawn-sh "qs ipc call wallpaper toggle"; }
    Mod+Escape { spawn-sh "qs -p ~/.config/quickshell/logout/logout.qml"; }

    // OVERVIEW

    Mod+G { toggle-overview; }

    // SCREENSHOTS

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    // WINDOW MANAGEMENT

    Mod+CTRL+Q { close-window; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    // FLOATING WINDOWS

    Mod+Space { toggle-window-floating; }
    Mod+Shift+Space { switch-focus-between-floating-and-tiling; }

    // FOCUS NAVIGATION

    Mod+H { focus-column-left; }
    Mod+L { focus-column-right; }
    Mod+J { focus-window-down; }
    Mod+K { focus-window-up; }
    Mod+A { focus-column-left; }
    Mod+D { focus-column-right; }
    Mod+S { focus-window-down; }
    Mod+W { focus-window-up; }

    // WINDOW MOVEMENT

    Mod+Shift+H { move-column-left; }
    Mod+Shift+L { move-column-right; }
    Mod+Shift+J { move-window-down; }
    Mod+Shift+K { move-window-up; }
    Mod+Shift+A { move-column-left; }
    Mod+Shift+D { move-column-right; }
    Mod+Shift+S { move-window-down; }
    Mod+Shift+W { move-window-up; }

    Mod+Ctrl+A { consume-or-expel-window-left; }
    Mod+Ctrl+D { consume-or-expel-window-right; }
    Mod+Ctrl+S { move-window-down; }
    Mod+CTRL+W { move-window-up; }

    Mod+Ctrl+H { consume-or-expel-window-left; }
    Mod+Ctrl+L { consume-or-expel-window-right; }
    Mod+Ctrl+J { move-window-down; }
    Mod+Ctrl+K { move-window-up; }


    Mod+Ctrl+T { toggle-column-tabbed-display; }


    // WORKSPACE NAVIGATION

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }

    Mod+WheelScrollDown cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp cooldown-ms=150 { focus-workspace-up; }

    // MOVE WINDOW TO WORKSPACE

    Mod+CTRL+1 { move-column-to-workspace 1; }
    Mod+CTRL+2 { move-column-to-workspace 2; }
    Mod+CTRL+3 { move-column-to-workspace 3; }
    Mod+CTRL+4 { move-column-to-workspace 4; }

    Mod+Shift+1 { move-window-to-workspace 1 focus=false; }
    Mod+Shift+2 { move-window-to-workspace 2 focus=false; }
    Mod+Shift+3 { move-window-to-workspace 3 focus=false; }
    Mod+Shift+4 { move-window-to-workspace 4 focus=false; }

    // COLUMN & WINDOW SIZING

    Mod+Q { switch-preset-column-width; }
    Mod+E { switch-preset-window-height; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+Period { set-column-width "+10%"; }
    Mod+Shift+Period { set-window-height "+10%"; }

    // MEDIA CONTROLS

    XF86AudioRaiseVolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%+"; }
    XF86AudioLowerVolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%-"; }
    XF86AudioMute { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

    XF86AudioPlay { spawn "playerctl" "play-pause"; }
    XF86AudioPause { spawn "playerctl" "play-pause"; }
    XF86AudioNext { spawn "playerctl" "next"; }
    XF86AudioPrev { spawn "playerctl" "previous"; }

    // BRIGHTNESS CONTROLS

    XF86MonBrightnessUp { spawn "brightnessctl" "set" "5%+"; }
    XF86MonBrightnessDown { spawn "brightnessctl" "set" "5%-"; }

    // SYSTEM CONTROLS

    Mod+Shift+E { quit; }
    CTRL+ALT+DELETE { power-off-monitors; }
}
